.search-form{
  background-color: aquamarine;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
};

input {
height: 40px;
width: 300px;
padding-left: 10px;
border-radius: 5px;
border: aquamarine;
};

button {
  margin-left: 0px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: aquamarine;
};

.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
  };

  .photo-card {
  letter-spacing: 0.02em;
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
      width: 350px;
      // height: 350px
  };

img {
  width: 350px;
  height: 200px
};

.info{
  display: flex;
  gap: 15px;
  text-align: center;
}
